body {
    background-color: #1a1a1a;
    color: #e0e0e0;
    font-family: Arial, sans-serif;
    text-align: center;
}

img {
    max-width: 600px;
    border: 5px solid #333;
    transition: transform 0.3s ease; /* Gjør animasjonen myk */
}

/* En kul effekt når du holder musa over bildet */
img:hover {
    transform: scale(1.02);
    border-color: #f39c12;
}

p {
    font-style: italic;
    color: #bbb;
    margin-top: 10px;
}